# UserBasicClassifier
Un classificador básico con la matadata del usuario

In [1]:
import pandas as pd
import numpy as np

import os
import pickle

from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model  import LogisticRegression

from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import train_test_split

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
users = pd.read_pickle('trainDatasets/users.pkl')
users.head()

,Cat,bot,crawled_at,created_at,default_profile,description,geo_enabled,id,lang,listed_count,...,time_zone,timestamp,updated,url,utc_offset,tweet_count,favs_tiempo,followers_tiempo,statuses_tiempo,friends_tiempo
0,SocialSpambot1,True,2014-04-19 14:46:19,Tue Mar 17 08:51:12 +0000 2009,1.0,True,True,24858289,True,0,...,Rome,2009-03-17 09:51:12,2016-03-15 14:12:22,False,7200.0,2518.0,0.062251,1.369531,80.864594,2.490057
1,SocialSpambot1,True,2014-05-18 23:20:58,Sun Apr 19 14:38:04 +0000 2009,0.0,True,True,33212890,True,110,...,Greenland,2009-04-19 16:38:04,2016-03-15 14:17:13,True,-7200.0,3204.0,1020.440156,783.576770,1164.354781,214.717876
2,SocialSpambot1,True,2014-05-13 23:21:54,Wed May 13 15:34:41 +0000 2009,0.0,True,False,39773427,True,6,...,Rome,2009-05-13 17:34:41,2016-03-15 14:16:44,False,7200.0,3216.0,0.887230,38.024155,1456.768757,47.847062
3,SocialSpambot1,True,2014-05-19 23:24:18,Wed Jul 15 12:55:03 +0000 2009,0.0,True,False,57007623,True,2,...,Pacific Time (US & Canada),2009-07-15 14:55:03,2016-03-15 14:18:54,False,-25200.0,3231.0,0.719522,26.033600,521.653169,22.893869
4,SocialSpambot1,True,2014-05-11 23:22:23,Wed Aug 05 21:12:49 +0000 2009,0.0,True,True,63258466,True,8,...,Rome,2009-08-05 23:12:49,2016-03-15 14:17:05,True,7200.0,3201.0,10.775305,27.470376,1344.784653,26.938262

In [12]:
users.applymap(type).crawled_at[0]

Timestamp('2014-04-19 14:46:19')